body {
background: white url(http://www.fonstola.ru/crop/_img_resize.php?src=/images/201307/fonstola.ru_101325.jpg&bw=0&x1=0&y1=0&x2=6539&y2=3688&resolution=1920x1080&);
background-size: 100%;
color: black;
font-family: 'Cabin', Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 25px;
text-align: center;

	}

h2 {
font-family: 'Lobster', Georgia, Times, serif;
font-size: 30px;
line-height: 40px;
}